[submodule "yuimarkdown"]
	path = yuimarkdown
	url = https://github.com/garysoed/yuimarkdown.git
[submodule "docs"]
	path = docs
	url = https://github.com/garysoed/spies.wiki.git
[submodule "lib/yuimd"]
	path = lib/yuimd
	url = https://github.com/garysoed/yuimd.git
[submodule "spies.wiki"]
	path = spies.wiki
	url = https://github.com/garysoed/spies.wiki.git
[submodule "doc"]
	path = doc
	url = https://github.com/garysoed/spies.wiki.git
[submodule "pages"]
	path = pages
	url = https://github.com/garysoed/spies.git
