header.main-header {
  align-items: flex-end;
  display: flex;
  padding: 20px;
}

section.main-sidebar {
  overflow: scroll;
}

header.main-header > div {
  flex: 1;
}

section.main-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

section.main-main {
  overflow: scroll;
  flex: 1;
}
